html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* coding */
/* @import url(-url of font-); */
*{
	text-decoration: none;
	
}
.header{
	/* background: var(--bg); */
	background-color: #f5deb3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 3rem;
	height: 8.5vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	/* z-index: 1000; */
	/* border-bottom: var(--border); */
	border-bottom: 0.1vh solid black;
	/* border-style: solid; */
}

.header .logo img{
	height: 2.5rem;
}
.header .navbar a{
	margin: 0 1.2rem;
	font-size: 1rem;
	color: #24593f;
font-weight: 600;
letter-spacing: .06rem;
}

/* home */
.home {
	background-color: #f5deb3;
	min-height: 91.4vh;
	display: flex;
	align-items: center;
	/* padding-top: 3.4rem; */
	/* border: 0.2rem solid black; */
	margin-top: 8.6vh;
	
	

}
#left-box {
	float: left;
	width: 32%;
	height: 200px;
	/* border: 0.124rem solid black; */
	text-align: left;
	padding-left: 1rem;
	
}
#smaller-name {
	color: #24593f;
font-size: 3rem;
padding-left: 1.9rem;
font-family: 'Times New Roman', Times, serif;
letter-spacing: 0.05rem;
	
}
#bigger-name {
	color: black;
	font-size: 5.5rem;
	font-weight: 500;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 0.05rem;
}

#middle-box {
	float: left;
	width: 38%;
	height: auto;
	/* border: 0.124rem solid black; */
	display: flex;
	align-items: center;
	justify-content: center;

}
#oval {
}
.image #oval img{
	width: 300px;
	height: auto;
	/* background: white; */
	border-radius: 50%;
	object-fit: cover;
	/* display: flex; */
	/* align-items: center; */
	
}
#right-box {
	float: right;
	width: 30%;
	height: 25rem;
	/* border: 0.124rem solid black; */
}
#description-box {
	margin: 0rem 4rem 0rem 2rem;
	padding: 0.5rem;
	border: 0.15rem solid black;
	letter-spacing: 0.05rem;
}
#description-box p {
 color: black;
 font-size: 1.4rem;
}
.bigger-word{
	color: #24593f;
	font-size: 2rem;
}
#home-descriptive-btn {
	background-color: #24593f;
	color: white;
	border: 0.15rem solid #24593f;
	border-radius: 3.125rem;
	/* text-align: center; */
	/* display: flex;
	justify-content: center; */
	margin: 1rem;
	margin-left: 4.6rem;
	font-size: 1.4rem;
}
.shop {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	
}
/* buttons */
#coffee-shopping-btn {
	background-color: #24593f;
	color: white;
	border: 0.15rem solid #24593f;
}
#milkshakes-shopping-btn {

	background-color: #24593f;
	color: white;
	border: 0.15rem solid #24593f;

}
#snacks-shopping-btn {
	background-color: #24593f;
	color: white;
	border: 0.15rem solid #24593f;
}
.shopping-buttons {
	font-size: 0.9rem;
	padding: 0.35rem;
	border-radius: 3.125rem;
}

/* end of btn  */
.shop div{
	/* margin: 1.7rem 0rem; */
}
/* shopping sections 3 */
.coffee {
	float: left;
	width: 40%;
	background-color: pink;
	height: 91.5vh;
}
.alternatives {
	float: left;
	width: 35%;
	background-color: palevioletred;
	height: 91.5vh;
}
.snacks {
	float: right;
	width: 25%;
	background-color: #b53678;
	height: 91.5vh;
}
.shop-title {
	font-size: 2rem;
	color: #24593f;
	padding: 1rem;
	letter-spacing: 0.05rem;
}
#coffee-small {
	color: black;
	font-size: 1rem;
	font-weight: 600;
}
#coffee-big {
	font-size: 2.5rem;
}
.shop-images {
	height: 50%;
	width: 75%;
	object-fit:cover;
}
.words {
	margin: 1.4rem;
	letter-spacing: 0.04rem;
	text-align: left;
	line-height: 1.3rem;
}
/* about */
.about {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	

}
.who-we-are {
	float: left;
	width: 33%;
	background-color: blueviolet;
	height: 91.5vh;
	text-align: center;
	justify-content: center;
}
.founding-and-statement {
	float: left;
	width: 34%;
	background-color: royalblue;
	height: 91.5vh;
}
.goals {
	float: left;
	width: 33%;
	height: 91.5vh;
	background-color: blue;
	justify-content: center;
}
#who-we-are-words {
	display: flex;align-items: center;
	height: 65vh;
	background-color: #b53678;
	/* margin: 1rem; */
	/* justify-content: center; */
	

}
#who-we-are-image {
	height: 26.5vh;
	background-color: white;
}
#founding-words {
	display: flex;align-items: center;
	height: 25vh;
	background-color: aqua;
}
#founding-and-statement-image {
	height: 41.5vh;
	color: azure;
}
#statement-words {
	display: flex;align-items: center;
	height: 25vh;
	background-color: yellow;
}
#about-goals-words {
	display: flex;align-items: center;
	height: 45.75vh;
	background-color: pink;
}
#about-goals-image {
	height: 45.75vh;
	background-color: #f5deb3;
}
.about-words {
	display: flex;align-items: center;
	/* display: flex; */
	/* justify-content: center; */
}

/* about end  */
html{
	background-color: red;
}


